<h1>Home stats SPA</h1>

<table class="table table-hover">

	<thead>
		
		<th>Месяц</th>

		<th>Электроэнергия</th>

		<th>Вода</th>

		<th>Газ</th>

		<th>Итого</th>
		
	</thead>

	<tbody>
		
		<tr ng-repeat="item in data.data">

			<td>
				
				{{item.month}}

			</td>

			<td>
				
				{{item.energy * tariffs.energy}} грн.

			</td>

			<td>
				
				{{item.water * tariffs.water}} грн.

			</td>

			<td>
				
				{{item.gaz * tariffs.gaz}} грн.

			</td>

			<td>
				
				{{item.energy * tariffs.energy + item.water * tariffs.water + item.gaz * tariffs.gaz}} грн.

			</td>

		</tr>

	</tbody>

</table>
