<h1>Home stats SPA</h1>

<p class="text-center" ng-show="!successData">
	
	<img src="img/loading.gif" />

</p>

<table class="table table-hover b-table_main" ng-init="successData = false" ng-show="successData">

	<thead>
		
		<th>Месяц</th>

		<th>Электроэнергия</th>

		<th>Вода</th>

		<th>Газ</th>

		<th>Итого</th>
		
	</thead>

	<tbody>
		
		<tr ng-repeat="item in indicators">

			<td>
				
				{{item.month}}

			</td>

			<td>
				
				{{item.energy * tariffs.energy}} грн.

			</td>

			<td>
				
				{{item.water * tariffs.water}} грн.

			</td>

			<td>
				
				{{item.gaz * tariffs.gaz}} грн.

			</td>

			<td>
				
				{{item.energy * tariffs.energy + item.water * tariffs.water + item.gaz * tariffs.gaz}} грн.

			</td>

		</tr>

	</tbody>

</table>
