<h1>Home stats SPA</h1>

<p class="text-center" ng-show="!successData">
	
	<img src="img/loading.gif" />

</p>

<table class="table table-hover b-table_main" ng-init="successData = false" ng-show="successData">

	<thead>
		
		<th>Дата добавления</th>

		<th>Расчетный месяц</th>

		<th>Электроэнергия</th>

		<th>Вода</th>

		<th>Газ</th>

		<th>Итого</th>
		
	</thead>

	<tbody>
		
		<tr ng-repeat="item in indicators">

			<td>
				
				{{item.date}}

			</td>
			
			<td>
				
				{{item.month}}

			</td>

			<td>
				
				{{item.energy * tariffs.energy}} грн.

			</td>

			<td>
				
				{{item.water * tariffs.water}} грн.

			</td>

			<td>
				
				{{item.gaz * tariffs.gaz}} грн.

			</td>

			<td>
				
				{{item.energy * tariffs.energy + item.water * tariffs.water + item.gaz * tariffs.gaz}} грн.

			</td>

		</tr>

	</tbody>

</table>

<table class="table b-table_total" ng-show="successData">
	
	<tbody>
		
		<td></td>
		<td>
			
			<p>За год:</p>

		</td>
		<td>
			
			{{total.energy * tariffs.energy}} грн.

		</td>
		<td>
			
			{{total.water * tariffs.water}} грн.

		</td>
		<td>
			
			{{total.gaz * tariffs.gaz}} грн.

		</td>
		<td>
			
			{{total.energy * tariffs.energy + total.water * tariffs.water + total.gaz * tariffs.gaz}} грн.

		</td>

	</tbody>

</table>
